VITE_STELLAR_NETWORK=TESTNET
VITE_HORIZON_URL=https://horizon-testnet.stellar.org
VITE_APP_URL=http://localhost:5173
STELLAR_SECRET_KEY=S... # Enter your secret key here to allow the agent to deploy the contract
