VITE_STELLAR_NETWORK=TESTNET
VITE_HORIZON_URL=https://horizon-testnet.stellar.org
VITE_APP_URL=http://localhost:5173
STELLAR_SECRET_KEY=S... # Enter your secret key here to allow the agent to deploy the contract
VITE_SUPABASE_URL=aapka_project_url
VITE_SUPABASE_ANON_KEY=aapki_anon_key
