VITE_STELLAR_NETWORK=TESTNET
VITE_HORIZON_URL=https://horizon-testnet.stellar.org
VITE_APP_URL=http://localhost:5173
STELLAR_SECRET_KEY=
VITE_SUPABASE_URL=aapka_project_url
VITE_SUPABASE_ANON_KEY=aapki_anon_key
VITE_MGI_ANCHOR_URL=https://extstellar.moneygram.com
VITE_USDC_ISSUER=GBBD47IF6LWK7P7MDEVSCWR7DPUWV3NY3DTQEVFL4NAT4AQH3ZLLFLA5
VITE_COINGECKO_URL=https://api.coingecko.com/api/v3/simple/price
